body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    }
    h1{
        font-size: 50px;
        color: rgb(192, 10, 183);
        
    }
    .woman-parent{
        display: flex;
        width: 75%;
        margin: 0 auto;
        padding-right: 20%;
        padding-left: 10px;
       
    }
    .photo img{
        width: 250%;
    }
    .button{
            text-decoration: none;
            background-image: radial-gradient(rgb(204, 29, 137),tomato);
             padding:10px 40px;
             border-radius: 5px ;
             font-weight: 700;
             color: white;
        }
        .tomato-font{
            font-size: 40px;
            color:  orangered;
            text-align: center;
        }
        .wing{
            display: flex;
        width:75%;
        margin:  5%;
        padding-right: 120%;
        padding-left: 10px;
        }
        .lemon{color: yellowgreen;}
        .yellow{color: rgb(13, 207, 233)}
        .right-side{
            padding-left: 10%;
        }
        .left{
            padding-right: 10%;  
        }
    .right{
        padding-right: 10%;
        padding-top: 10%;
    }
    .font{
        font-size: small;}
    .vote{
        text-align: center;
        color: orange;
    }    
      
    
    
    
        
    